/*リセットCSS*/
body, h1, h2, p, ul, li, a {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

/* ベーススタイル */
body {
  font-family: Arial, sans-serif;
  color: #000080; /* ダークブルー */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
}

.main-wrapper {
  height: calc(100% - 50px - 50px);
  text-align: center;
  padding: 50px 20px;
  flex: 1;
}

.main-title {
  font-size: 32px;
  color: #000080;
  margin-bottom: 10px;
}

.main-subtitle {
  font-size: 24px;
  color: #000080;
  margin-bottom: 20px;
}

.main-description {
  font-size: 16px;
  color: #000080;
  line-height: 1.5;
}


/*==========================================================================
      HTMLリファレンス
============================================================================*/

h1,h2,h3 {
  font-size: 24px;
  font-weight: bold;
}

/*==============================================================================================================
      header
================================================================================================================*/

.site-header {
  background-color: #000080; /* ダークブルー */
  padding: 10px 0;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item {
  margin: 0 15px;
}

.nav-link {
  color: white;
  font-size: 19px;
}

/*==============================================================================================================
      main
================================================================================================================*/
/* メインコンテンツ */
.main-wrapper {
  height: calc(100% - 50px - 50px);
  text-align: center;
  padding: 50px 20px;
  flex: 1;
}

.main-title {
  font-size: 32px;
  color: #000080;
  margin-bottom: 10px;
}

.main-subtitle {
  font-size: 24px;
  color: #000080;
  margin-bottom: 20px;
}

.main-description {
  font-size: 16px;
  color: #000080;
  line-height: 1.5;
}

.html-main {
  width: 80%;
  margin: 0 auto;
  padding: 35px 0 35px 0;
  text-align: light;
  line-height: 1.5em;
  margin-top: 20px;
}

.html-main h1, h2, h3, h4{
  width: 75%;
  margin: 15px auto 0 auto;
}


.html-main p {
  width: 75%;
  padding: 10px 0 15px 20px;
  margin: 0 auto;
}



/*------------------------------------------------------------------------------------------------------------------------
      コード表示
------------------------------------------------------------------------------------------------------------------------*/
.structure{
  width: 60%;
  background-color: #333;
  padding: 20px 40px;
  margin: 0 auto;
}
#codeBlock {
  color: white;
}

/*------------------------------------------------------------------------------------------------------------------------
      基本構造
------------------------------------------------------------------------------------------------------------------------*/
.html-contents {
  width: 100%;
  margin-top: 50px;
}

.html-contents ul li {
  list-style:disc;
  margin-left: 25px;
}

/*------------------------------------------------------------------------------------------------------------------------
      属性
------------------------------------------------------------------------------------------------------------------------*/
.element, .attribute,.attribute-img,.attribute-list,
.attribute-form,.attribute-table,.attribute-section,.attribute-others, .tag {
  width: 100%;
  margin: 100px auto;
}

/*------------------------------------------------------------------------------------------------------------------------
      属性(アコーディオン)
------------------------------------------------------------------------------------------------------------------------*/

/* アコーディオン全体 */
.accordion {
  width: 75%;
  margin: 0 auto;
  padding-left: 20px;
}


/* アコーディオン */
.accordion__item {
  border: 1px solid #ccc;
  margin-top: 10px;
  cursor: pointer;
}

/* アコーディオンのタイトル */
.accordion__title {
  position: relative;
  padding: 15px 60px 15px 20px;
  font-weight: bold;
  cursor: pointer;
}

/* (+)アイコン */
.accordion__title::before,
.accordion__title::after {
  content: "";
  position: absolute;
  right: 20px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  background-color: #3abec1;
  width: 20px;
  height: 4px;
  transition: all 0.3s;
}

.accordion__title::after {
  transform: rotate(90deg);
}

/* アコーディオンのコンテンツ */
.accordion__content {
  padding: 0 35px 15px 20px;
  display: none;
  cursor: pointer;
  line-height: 2rem;
}

.accordion__content.is-open {
  display: block;
}

/* アコーディオン展開時の(-)アイコン */
.accordion__item.is-active .accordion__title::before {
  transform: rotate(180deg);
}

.accordion__item.is-active .accordion__title::after {
  transform: rotate(180deg);
  opacity: 0;
}

.code-container {
  width:50%;
  height: 45px;
  margin-left: 30px;

}

.code-container h6{
  height: 30px;
}

.code-container h1, .code-container h2, .code-container h3,
 .code-container h4, .code-container h5, .code-container h6, .code-container p{
  width: 25%;
  display: inline-block;
}


/*==============================================================================================================
      footer
================================================================================================================*/
.site-footer {
  height: 50px;
  background-color: #000080;
  padding: 10px 0;
  color: white;
  text-align: center;
}

.footer-copy {
  margin-bottom: 10px;
  margin-left: 10px;
}

.footer-nav-list {
  display: flex;
  justify-content: center;
}

.footer-nav-item {
  margin: 0 15px;
}

.footer-nav-link {
  color: white;
  font-size: 13px;
}
